<a href="/"> <h1 class="text-center text-primary">Site Mapper</h1></a>
<nav class="mb-4">
  <ul class="nav-links">
    <li>
      <a
        href="/"
        style="text-decoration: none; color: #0077b6; font-weight: bold"
        >홈</a
      >
    </li>
    <li>
      <a
        href="/guide"
        style="text-decoration: none; color: #0077b6; font-weight: bold"
        >사용 가이드</a
      >
    </li>
    <li>
      <a
        href="/contact"
        style="text-decoration: none; color: #0077b6; font-weight: bold"
        >연락처</a
      >
    </li>
    <li>
      <a
        href="/faq"
        style="text-decoration: none; color: #0077b6; font-weight: bold"
        >FAQ</a
      >
    </li>
  </ul>
</nav>
